<h1>New appointment</h1>

<%= render 'form' %>

<% form_for @appointment do |f| %>
    <%= f.text_field :name %>
    <%= f.collection_select :text, Appointment::INSURANCES, :to_s, :to_s,
                            :include_blank => true
    %>
    <%= f.submit "Create" %> <% end %>

<% form_for @specialist do |f| %>
    <%= f.text_field :name %>
    <%= f.collection_select :text, Specialist::INSURANCES, :to_s, :to_s,
                            :include_blank => true
    %>
    <%= f.submit "Create" %> <% end %>

<%= link_to 'Back', appointments_path %>
