<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @specialist.name %>
</p>

<p>
  <b>Specialty:</b>
  <%= @specialist.specialty %>
</p>

<p>
  <b>Specialist:</b>
  <%= @specialist.all? { ||} %>
</p>


<%= link_to 'Edit', edit_specialist_path(@specialist) %> |
<%= link_to 'Back', specialists_path %>
