<h1>New patient</h1>

<%= render 'form' %>

<% form_for @patient do |f| %>
    <%= f.text_field :name %>
    <%= f.collection_select :insurance, Patient::INSURANCES, :to_s, :to_s,
                            :include_blank => true
    %>
    <%= f.submit "Create" %> <% end %>


<%= link_to 'Back', patients_path %>
