<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @insurance.name %>
</p>

<p>
  <b>Street address:</b>
  <%= @insurance.street_address %>
</p>


<%= link_to 'Edit', edit_insurance_path(@insurance) %> |
<%= link_to 'Back', insurances_path %>
